{% extends 'base.html' %}
{% block title %}Database Administrator {% endblock title %}
{% block bodybg %}bg-light{% endblock bodybg %}
{% block body %}
<div class="container">
    <h1 class="text-dark bg-light py-2 text-center">Database Administrator</h1>
    <h2>Database Administrator Roadmap using Bootstrap</h2>
    <ol class="list-group">
      <li class="list-group-item">
        <h4>Database Fundamentals</h4>
        <p>Learn the fundamentals of databases, including data modeling, normalization, and database design principles.</p>
        <a href="https://www.youtube.com/watch?v=6Iu45VZGQDk&list=PLBlnK6fEyqRi_CUQ-FXxgzKQ1dwr_ZJWZ" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=kBdlM6hNDAE&list=PLxCzCOWd7aiFAN6I8CuViBuCdJgiOkT2Y" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=OMwgGL3lHlI&list=PLBlnK6fEyqRiyryTrbKHX1Sh9luYI0dhX" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>SQL Language</h4>
        <p>Understand the SQL language and its various dialects, including MySQL, PostgreSQL, and Oracle SQL. Develop skills in querying, filtering, and manipulating data using SQL.</p>
        <a href="https://www.youtube.com/watch?v=323H_mOOWQ4&list=PLxCzCOWd7aiHqU4HKL7-SITyuSIcD93id" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=8hzXG6pdyVY&list=PLbGui_ZYuhigbr-fJ_9HlOqwg0S24Z73-" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=7RCSgSEHzXA&list=PLmRclvVt5DtlM3Ef8ERo4sVVk-yTvSzX5" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Database Administration</h4>
        <p>Learn how to install, configure, and manage database systems, including backup and recovery, security, and performance tuning. Develop skills in working with database management systems like Oracle, SQL Server, MySQL, and PostgreSQL.</p>
        <a href="https://www.youtube.com/watch?v=kBdlM6hNDAE&list=PLxCzCOWd7aiFAN6I8CuViBuCdJgiOkT2Y" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=wClEbCyWryI&list=PLBlnK6fEyqRi_CUQ-FXxgzKQ1dwr_ZJWZ" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=V9VxucL7hb4&list=PL3iAEby0Vzb5_KuWmHjKy60UZIgMcyvqK" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Data Warehousing and Business Intelligence</h4>
        <p>Develop skills in designing and implementing data warehousing and business intelligence solutions. Learn how to use tools like ETL, OLAP, and data mining to extract meaningful insights from data.</p>
        <a href="https://www.youtube.com/watch?v=J326LIUrZM8&list=PL9ooVrP1hQOEDSc5QEbI8WYVV_EbWKJwX" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=cLI_bIlq-oU&list=PL-JvKqQx2AteuF5RnKVD0ZuW1_Tuk8H60" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=Eh_8ZATRauQ&list=PLV8vIYTIdSnb4H0JvSTt3PyCNFGGlO78u" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>NoSQL Databases</h4>
        <p>Understand the differences between relational and NoSQL databases, and develop skills in working with NoSQL databases like MongoDB, Cassandra, and Couchbase.</p>
        <a href="https://www.youtube.com/watch?v=F1TklaUfKcM&list=PLsyeobzWxl7r0bn6dzVA8bQNxcx7DRl5F" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=ilI-inAjdf8&list=PLqfPEK2RTgCiDwThc4fm67aXIi3ZzFUgA" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=ns9Erq0ua1A&list=PLNHw_0qv1zy86nW1as5-hqOO-8GWnqu2y" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Cloud Database Services</h4>
        <p>Develop skills in working with cloud database services like Amazon RDS, Microsoft Azure SQL Database, and Google Cloud SQL. Learn how to manage database systems in a cloud environment.</p>
        <a href="https://www.youtube.com/watch?v=HhStJ7FDBpc&list=PLYwpaL_SFmcCyQH0n9GHfwviu6KeJ46BV" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=6Iu45VZGQDk&list=PLBlnK6fEyqRi_CUQ-FXxgzKQ1dwr_ZJWZ" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=kBdlM6hNDAE&list=PLxCzCOWd7aiFAN6I8CuViBuCdJgiOkT2Y" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Automation and Scripting</h4>
        <p>Develop skills in automation and scripting using tools like PowerShell, Python, and Bash. Learn how to automate database administration tasks to improve efficiency and reduce errors.</p>
        <a href="https://www.youtube.com/watch?v=uhP28w2Cqqw&list=PL2qzCKTbjutJRM7K_hhNyvf8sfGCLklXw" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=1F_OgqRuSdI&list=PL0-84-yl1fUnRuXGFe_F7qSH1LEnn9LkW" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=25U-KUpWd1c&list=PLL34mf651faPB-LyEP0-a7Avp_RHO0Lsm" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Continuously Learn and Explore</h4>
        <p>Database technology is constantly evolving, so it's essential to stay current with new developments and trends. Continuously learning and exploring new database tools and techniques will keep you ahead of the curve.</p>
        <h5>upgrade your knowedlge and skills according to the current demand in respective fiels!!!</h5>
      </li>
    </ol>
  </div>
  {% endblock body %}