{% extends 'base.html' %}
{% block title %}Frontend Developer{% endblock title %}
{% block bodybg %}bg-light{% endblock bodybg %}
{% block body %}
<div class="container">
    <h1 class="text-dark bg-light py-2 text-center">Frontend Developer</h1>
    <h2>Roadmap for Frontend Developer </h2>
    <ol class="list-group">
      <li class="list-group-item">
        <h4>Learn HTML and CSS</h4>
        <p>As a frontend developer, it's important to have a solid understanding of HTML and CSS.</p>
        <a href="https://www.youtube.com/watch?v=luAkR9VaLcw&list=PLwgFb6VsUj_mtXvKDupqdWB2JBiek8YPB" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=3D7CdN9EoEI&list=PLjpp5kBQLNTSdLVVjU_kea8J8lP24ZseT" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=mbeT8mpmtHA&list=PL4cUxeGkcC9ivBf_eKCPIAYXWzLlPAm6G" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Get familiar with Bootstrap code</h4>
        <p>You should become familiar with the underlying HTML, CSS, and JavaScript code used by Bootstrap.</p>
        <a href="https://www.youtube.com/watch?v=XCpASnIrfWY&list=PLdPwRNmUlk0ka9Woqt3Xz4YKr5Fy5wjQT" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=ijJ8BC4wnN0&list=PLdPwRNmUlk0nyw7VoYZvtlU1XIRUfEW-U" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=6mbwJ2xhgzM&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Study Bootstrap components</h4>
        <p>Bootstrap provides a wide range of components, such as buttons, forms, cards, and modals.</p>
        <a href="https://www.youtube.com/watch?v=wkSA9bfCmKU&list=PL0b6OzIxLPbz1cgxiH5KCBsyQij1HsPtG" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/@ApnaCollegeOfficial" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/@CodeWithHarry" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Learn Bootstrap grid system</h4>
        <p>Bootstrap's grid system is a powerful tool for creating responsive layouts.</p>
        <a href="https://www.youtube.com/watch?v=O_9u1P5YjVc&list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/@CodeWithHarry" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/@ApnaCollegeOfficial" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Use Bootstrap utilities</h4>
        <p>Bootstrap provides a range of utilities, such as spacing, typography, and colors, that make it easy to style your website quickly and consistently.</p>
        <a href="https://www.youtube.com/@CodeWithHarry" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=O_9u1P5YjVc&list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/@ApnaCollegeOfficial" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Customize Bootstrap</h4>
        <p>You should learn how to modify the Bootstrap code to create custom components and styles that meet your needs.</p>
        <a href="https://www.youtube.com/@ApnaCollegeOfficial" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/@CodeWithHarry" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=O_9u1P5YjVc&list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Build a project</h4>
        <p>Once you have a good understanding of Bootstrap code, you should build a project using Bootstrap.</p>
        <a href="https://www.youtube.com/@ApnaCollegeOfficial" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=O_9u1P5YjVc&list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/@CodeWithHarry" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Keep up with updates</h4>
        <p>Bootstrap is regularly updated with new features and bug fixes. You should keep up with these updates to stay current and take advantage of new features.</p>
        <h5>upgrade your knowedlge and skills according to the current demand in respective fiels!!!</h5>
      </li>
    </ol>
  </div>
  
{% endblock body %}