{% extends 'base.html' %}
{% block title %}Software Architect {% endblock title %}
{% block body %}
<div class="container">
    <h1 class="text-dark bg-light py-2 text-center">Software Architect </h1>
    <!-- <h2>Software Architect Roadmap </h2> -->
    <ol class="list-group">
      <li class="list-group-item">
        <h4>Programming Fundamentals</h4>
        <p>Develop a deep understanding of programming fundamentals including algorithms, data structures, and object-oriented design. Learn at least one programming language in-depth to become proficient in writing efficient and maintainable code.</p>
        <a href="https://www.youtube.com/watch?v=F7CWjuaC6gw&list=PLb__S-rkKhexdiJomXSGeqQ46c_MUTPaj" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=-AP1nNK3bRs&list=PLWPirh4EWFpF_2T13UeEgZWZHc8nHBuXp" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=Q2pJ0hKRuUI&list=PLspGXahxbrNyiGf5cVtMT2Xr8OkpLBc92" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>System Design</h4>
        <p>Develop skills in system design, including creating high-level and low-level system designs, understanding tradeoffs, and selecting the best technologies for the job. Learn how to design scalable and highly available systems that meet business requirements.</p>
        <a href="https://www.youtube.com/watch?v=yKgWAHqmAwk&list=PLMCXHnjXnTnvo6alSjVkgxV-VH6EPyvoX" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=FSR1s2b-l_I&list=PLTCrU9sGyburBw9wNOHebv9SjlE4Elv5a" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=xioUCiVBjlU&list=PLrk5tgtnMN6RvXrfflstJWgcPFQ_vTOV9" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Architectural Patterns</h4>
        <p>Develop an understanding of architectural patterns and how they can be applied to solve common problems. Learn about patterns such as microservices, event-driven architecture, and service-oriented architecture, and understand when to use each one.</p>
        <a href="https://www.youtube.com/watch?v=R-X2nM3d2FI&list=PLRKyZvuMYSIO0jLgj8g6sADnD0IBaWaw2" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=BCXcIllT7Lc&list=PLSyLGd0D0b4ThfElztKEueqQ5SIHJjUEU" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=lwMjjTT1Q-Q&list=PL66orrG1cw0Gsy0R8F4lYzWYkLkBO2SSg" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Cloud Technologies</h4>
        <p>Develop skills in cloud technologies and understand how they can be used to build scalable and reliable systems. Learn about cloud platforms such as AWS, Azure, and Google Cloud Platform, and understand how to leverage their services to create highly available systems.</p>
        <a href="https://www.youtube.com/watch?v=CaHBhnc1e_I&list=PLYwpaL_SFmcCyQH0n9GHfwviu6KeJ46BV" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=xVD6DwSAifg&list=PL9FuOtXibFjUE8MpVv6uiAWfj5E3dsBZR" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=mphoO_bxWy0&list=PL-JvKqQx2AtfQ8cGyKsFE7Tj2FyB1yCkd" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>DevOps</h4>
        <p>Understand the principles of DevOps and how they can be used to streamline the software development process. Develop skills in tools such as Docker, Kubernetes, and Terraform to create infrastructure as code and enable continuous deployment.</p>
        <a href="https://www.youtube.com/watch?v=eX3ZimWWHh4&list=PLBGx66SQNZ8aPsFDwb79JrS2KQBTIZo10" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=apGV9Kg7ics&list=PL9gnSGHSqcnoqBXdMwUTRod4Gi3eac2Ak" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=M736BbVDsx0&list=PLhNrFKat_aeIogDQc0xnEiZ2TLDKzZCEM" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Leadership and Communication</h4>
        <p>As a software architect, you'll need to work closely with development teams, stakeholders, and business leaders to create effective software solutions. Develop skills in leadership and communication, including the ability to communicate technical concepts to non-technical stakeholders and influence decision-making.</p>
        <a href="https://www.youtube.com/watch?v=fLI2WKS3DKI&list=PL9RcWoqXmzaLt7FMmdDK8SoM5X63cPytf" target="_blank">link no:01</a>
        <br>
        <a href="https://www.youtube.com/watch?v=srn5jgr9TZo&list=PLOaeOd121eBEEWP14TYgSnFsvaTIjPD22" target="_blank">link no:02</a>
        <br>
        <a href="https://www.youtube.com/watch?v=fyzmCU931QE&list=PLnyJK8kcdCduqkQ7rWxHyIic6_nOeUS5W" target="_blank">link no:03</a>
      </li>
      <li class="list-group-item">
        <h4>Continuous Learning and Improvement</h4>
        <p>As a software architect, it's essential to stay current with new developments and trends in technology. Continuously learning and exploring new technologies and techniques will keep you ahead of the curve.</p>
        <h5>upgrade your knowedlge and skills according to the current demand in respective fiels!!!</h5>
      </li>
    </ol>
  </div>
  {% endblock body %}