{% extends 'base.html' %}
{% block title %}home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}
<h1 class="display-1 text-center text-light">Developer roadmaps</h1>
<div class="container py-3">
    {% comment %} <h2 class="text-center text-secondary">Role based roadmaps</h2> {% endcomment %}
    <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3 text-white">
      <div class="col">
        <div class="card" style="border: none;">
            <div class="card-body bg-dark ">
              <h5 class="card-title">Frontend Developer</h5>
              <p class="card-text text-light text-opacity-75">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: none;">
            <div class="card-body bg-dark ">
              <h5 class="card-title">Frontend Developer</h5>
              <p class="card-text text-light text-opacity-75">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: none;">
            <div class="card-body bg-dark ">
              <h5 class="card-title">Frontend Developer</h5>
              <p class="card-text text-light text-opacity-75">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: none;">
            <div class="card-body bg-dark ">
              <h5 class="card-title">Frontend Developer</h5>
              <p class="card-text text-light text-opacity-75">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: none;">
            <div class="card-body bg-dark ">
              <h5 class="card-title">Frontend Developer</h5>
              <p class="card-text text-light text-opacity-75">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: none;">
            <div class="card-body bg-dark ">
              <h5 class="card-title">Frontend Developer</h5>
              <p class="card-text text-light text-opacity-75">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: none;">
            <div class="card-body bg-dark ">
              <h5 class="card-title">Frontend Developer</h5>
              <p class="card-text text-light text-opacity-75">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: none;">
            <div class="card-body bg-dark ">
              <h5 class="card-title">Frontend Developer</h5>
              <p class="card-text text-light text-opacity-75">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Go somewhere</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="border: none;">
            <div class="card-body bg-dark ">
              <h5 class="card-title">Frontend Developer</h5>
              <p class="card-text text-light text-opacity-75">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-success">Go somewhere</a>
            </div>
        </div>
      </div>
      
     
      
      

    </div>
</div>
{% endblock body %}