{% extends 'base.html' %} 
{% block title %}Home{% endblock title %} 
{% block homeactive %}active{% endblock homeactive %} 
{% block body %}
<style>
  .gtr{
    width: -webkit-fill-available;
    width: -moz-available;
  }
</style>
{% for message in messages %}
<div class="alert alert-{{ messages.tags }} alert-dismissible fade show text-light" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="btn-close btn-light" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div>
  <h1 class="display-1 text-center text-light" style="letter-spacing: 0.08em">
    Developer roadmaps
  </h1>
</div>
<div class="container py-5 mx-auto">
  <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-5 gx-5">
    <div class="col">
        <a class="text-decoration-none text-reset" href="/frontend">
            <div class="col p-3 btn btn-outline-light gtr">Frontend Developer</div>
        </a>
    </div>
    
    <div class="col">
        <a class="text-decoration-none text-reset" href="/frontend">
            <div class="col p-3 btn btn-outline-light gtr">Backend Developer</div>
        </a>
    </div>
    
    <div class="col">
        <a class="text-decoration-none text-reset" href="/frontend">
            <div class="col p-3 btn btn-outline-light gtr">DevOps Engineer</div>
        </a>
    </div>
    
    <div class="col">
        <a class="text-decoration-none text-reset" href="/frontend">
            <div class="col p-3 btn btn-outline-light gtr">Android Developer</div>
        </a>
    </div>
    
    <div class="col">
        <a class="text-decoration-none text-reset" href="/frontend">
            <div class="col p-3 btn btn-outline-light gtr">Database Administrator</div>
        </a>
    </div>
    
    <div class="col">
        <a class="text-decoration-none text-reset" href="/frontend">
            <div class="col p-3 btn btn-outline-light gtr">Blockchain Developer</div>
        </a>
    </div>
    
    <div class="col">
        <a class="text-decoration-none text-reset" href="/frontend">
            <div class="col p-3 btn btn-outline-light gtr">Quality Analyst</div>
        </a>
    </div>
    
    <div class="col">
        <a class="text-decoration-none text-reset" href="/frontend">
            <div class="col p-3 btn btn-outline-light gtr">Software Architect</div>
        </a>
    </div>
    
    <div class="col">
        <a class="text-decoration-none text-reset" href="/frontend">
            <div class="col p-3 btn btn-outline-light gtr">Cyber Security</div>
        </a>
    </div>
    
        
</div>

</div>
{% endblock body %}
