{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block
homeactive %}active{% endblock homeactive %} {% block body %}
<div>
  <h1 class="display-1 text-center text-light" style="letter-spacing: 0.08em">
    Developer roadmaps
  </h1>
</div>
<div class="container py-3" style="width: 50%">
  {% comment %}
  <h2 class="text-center text-secondary">Role based roadmaps</h2>
  {% endcomment %}
  <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3 text-white">
    <div class="col">
      <a class="text-decoration-none text-white" href="/frontend">
        <div class="p-3 btn btn-outline-light" style="width: 12rem">
          Frontend Developer
        </div>
      </a>
    </div>

    <div class="col">
      <a class="text-decoration-none text-white" href="/frontend">
        <div class="p-3 btn btn-outline-light" style="width: 12rem">
          Frontend Developer
        </div>
      </a>
    </div>

    <div class="col">
      <a class="text-decoration-none text-white" href="/frontend">
        <div class="p-3 btn btn-outline-light" style="width: 12rem">
          Frontend Developer
        </div>
      </a>
    </div>

    <div class="col">
      <a class="text-decoration-none text-white" href="/frontend">
        <div class="p-3 btn btn-outline-light" style="width: 12rem">
          Frontend Developer
        </div>
      </a>
    </div>

    <div class="col">
      <a class="text-decoration-none text-white" href="/frontend">
        <div class="p-3 btn btn-outline-light" style="width: 12rem">
          Frontend Developer
        </div>
      </a>
    </div>

    <div class="col">
      <a class="text-decoration-none text-white" href="/frontend">
        <div class="p-3 btn btn-outline-light" style="width: 12rem">
          Frontend Developer
        </div></a
      >
    </div>

    <div class="col">
      <a class="text-decoration-none text-white" href="/frontend"
        ><div class="p-3 btn btn-outline-light" style="width: 12rem">
          Frontend Developer
        </div></a
      >
    </div>

    <div class="col">
      <a class="text-decoration-none text-white" href="/frontend"
        ><div class="p-3 btn btn-outline-light" style="width: 12rem">
          Frontend Developer
        </div></a
      >
    </div>

    <div class="col">
      <a class="text-decoration-none text-white" href="/frontend"
        ><div class="p-3 btn btn-outline-light" style="width: 12rem">
          Frontend Developer
        </div></a
      >
    </div>
  </div>
</div>
{% endblock body %}
